<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("59b664ec-8421-4f60-b369-1243bc3656cd");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
